<div class="mt-4">
    <app-basket-summary
        [isBasket]=false
        [items]="(basket$ | async).items"
    >
    </app-basket-summary>
</div>

<div class="row float-none d-flex justify-content-between flex-lg-row my-3">
    <div class="col d-flex justify-content-start">
        <button class="btn btn-outline-primary" cdkStepperPrevious>
            <i class="fa fa-angle-left"></i> Back to Delivery
        </button>
    </div>
    <div class="col d-flex justify-content-end">
        <button class="btn btn-primary" (click)="createPaymentIntent()" >
            Continue to Payment <i class="fa fa-angle-right"></i>
        </button>
    </div>
</div>